## list
+ مجموعه از داده های همگن و ناهمگن مرتبط با هم را یکجا ذخیره میکند
+ ایندکس از صفر شروع می شود

In [2]:
listA = []      # می تواند خالی باشد

In [3]:
listB = [1,2,3,'ali','ahmad',1.25,1399]

In [4]:
type(listB)

list

In [6]:
listB[0]

1

In [7]:
listB[4]

'ahmad'

In [9]:
listB[2:5]

[3, 'ali', 'ahmad']

In [11]:
listB[2:]

[3, 'ali', 'ahmad', 1.25, 1399]

In [12]:
listB[:4]

[1, 2, 3, 'ali']

In [13]:
listB[-1]

1399

In [19]:
#listB = [1,2,3,'ali','ahmad',1.25,1399]
listB[:-2]          # همه عناصر بجز دو عتصر انتهای لیست

[1, 2, 3, 'ali', 'ahmad']

In [20]:
#listB = [1,2,3,'ali','ahmad',1.25,1399]
listB[-2:]              #دو عنصر انتهای لیست

[1.25, 1399]

##  Methods

In [31]:
#### append
l = [1,2,3,4,5,6,7,8,9,'ali','sara']
l.append('jamshid')
# Show l
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ali', 'sara', 'jamshid']

In [32]:
### remove last item in the list
l.pop()
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ali', 'sara']

In [33]:
### reverse
l.reverse()
# Show l
l

['sara', 'ali', 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
### remove 2
l.remove(2)
l

['sara', 'ali', 9, 8, 7, 6, 5, 4, 3, 1]

In [ ]:
l.remove('sara')
l

In [38]:
l.remove('ali')
l

[9, 8, 7, 6, 5, 4, 3, 1]

In [39]:
## sort
l.sort()
l

[1, 3, 4, 5, 6, 7, 8, 9]

In [42]:
# count
l.count(6)  # jتعداد عتصر گفته شده را برمیگرداند

1

In [44]:
# index
l.index(3)   # ایندکس عتصر گفته شده را برمیگرداند

1

In [56]:
l1 = [1,2,3,4,5,6,7,8]
l2 = ['ali','ahmad','sara','dara','ghasem','sajad','mamad']


l1.insert(2,10) # 10 insert in place 2 and all items shift right
l1

[1, 2, 10, 3, 4, 5, 6, 7, 8]

In [57]:
l2.insert(3,'shahinLOVE')
l2

['ali', 'ahmad', 'sara', 'shahinLOVE', 'dara', 'ghasem', 'sajad', 'mamad']

# list Comprehension

In [59]:
listC = [x**2 for x in range(1,10)]

listC

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Nesting list

In [61]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]