In [2]:
import pandas as pd
import numpy as np
import plotly.express as px 
df1 = pd.DataFrame(
    {
    'A':[1,2,3,4,12,25,45,85,45,45,78,54,1,25],
    'B':[5,6,7,8,13,12,45,14,27,8,96,14,45,47],
    }
)

## Normalization
+   By sickit learn :
+   +   MinMaxScaler
+   +   StandardScaler

In [3]:
from sklearn.preprocessing import (
    MinMaxScaler as minmax,
    StandardScaler as standard
 )

In [4]:
mms = minmax()  # define class
df_norm_minmax = mms.fit_transform(df1)
df_norm_minmax

array([[0.        , 0.        ],
       [0.01190476, 0.01098901],
       [0.02380952, 0.02197802],
       [0.03571429, 0.03296703],
       [0.13095238, 0.08791209],
       [0.28571429, 0.07692308],
       [0.52380952, 0.43956044],
       [1.        , 0.0989011 ],
       [0.52380952, 0.24175824],
       [0.52380952, 0.03296703],
       [0.91666667, 1.        ],
       [0.63095238, 0.0989011 ],
       [0.        , 0.43956044],
       [0.28571429, 0.46153846]])

##  حاصل دیتافریم نیست بلکه سری ارایه است آنرا به درون دیتا فریم میبریم

In [5]:
df=pd.DataFrame(df_norm_minmax,columns=df1.columns)
df

           A         B
0   0.000000  0.000000
1   0.011905  0.010989
2   0.023810  0.021978
3   0.035714  0.032967
4   0.130952  0.087912
5   0.285714  0.076923
6   0.523810  0.439560
7   1.000000  0.098901
8   0.523810  0.241758
9   0.523810  0.032967
10  0.916667  1.000000
11  0.630952  0.098901
12  0.000000  0.439560
13  0.285714  0.461538

## Standard Scale

In [9]:
ss = standard()
df_norm_standatd = ss.fit_transform(df1[['A','B']])
df_norm_standatd

array([[-1.0558438 , -0.80080215],
       [-1.01987832, -0.7603284 ],
       [-0.98391284, -0.71985464],
       [-0.94794736, -0.67938089],
       [-0.6602235 , -0.47701211],
       [-0.19267223, -0.51748587],
       [ 0.52663742,  0.81814805],
       [ 1.96525671, -0.43653836],
       [ 0.52663742,  0.08962046],
       [ 0.52663742, -0.67938089],
       [ 1.71349834,  2.88230956],
       [ 0.85032676, -0.43653836],
       [-1.0558438 ,  0.81814805],
       [-0.19267223,  0.89909556]])