In [2]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame({'legs': [2, 4, 8, 0,2,3,6],
                   'wings': [2, 0, 0, 0,1,0,5],
                   'specimenseen': [10, 2, 1, 8,5,8,9],
                   'age':[12,5,14,5,3,8,9]},
                    index=['falcon', 'dog', 'spider', 'fish','goril','human','snake'])
df

        legs  wings  specimenseen  age
falcon     2      2            10   12
dog        4      0             2    5
spider     8      0             1   14
fish       0      0             8    5
goril      2      1             5    3
human      3      0             8    8
snake      6      5             9    9

### iterrows:
#### return :
+        1- Row Index
+        2- Row Object

In [5]:
for index  ,data in df.iterrows():
    print( index)
    print('--'*5)
    print(data)
    print('--'*5)

falcon
----------
legs              2
wings             2
specimen seen    10
Name: falcon, dtype: int64
----------
dog
----------
legs             4
wings            0
specimen seen    2
Name: dog, dtype: int64
----------
spider
----------
legs             8
wings            0
specimen seen    1
Name: spider, dtype: int64
----------
fish
----------
legs             0
wings            0
specimen seen    8
Name: fish, dtype: int64
----------

### Iteritems
#### return :
+  1- label as key                -> col name
+  2- col value as series object  -> col data

In [6]:
for col_name,col_data in df.iteritems():
    print( col_name)
    print('--'*5)
    print(col_data)
    print('--'*5)

legs
----------
falcon    2
dog       4
spider    8
fish      0
Name: legs, dtype: int64
----------
wings
----------
falcon    2
dog       0
spider    0
fish      0
Name: wings, dtype: int64
----------
specimen seen
----------
falcon    10
dog        2
spider     1
fish       8
Name: specimen seen, dtype: int64
----------

### itertuples
#### return :
+ tuples for each row

In [10]:
for i in df.itertuples():
    print(i)

Pandas(Index='falcon', legs=2, wings=2, specimenseen=10, age=12)
Pandas(Index='dog', legs=4, wings=0, specimenseen=2, age=5)
Pandas(Index='spider', legs=8, wings=0, specimenseen=1, age=14)
Pandas(Index='fish', legs=0, wings=0, specimenseen=8, age=5)
Pandas(Index='goril', legs=2, wings=1, specimenseen=5, age=3)
Pandas(Index='human', legs=3, wings=0, specimenseen=8, age=8)
Pandas(Index='snake', legs=6, wings=5, specimenseen=9, age=9)