In [1]:
import pandas as pd
import os
data = pd.DataFrame({'A':[1,2,3,4,12,15,45,85,45,45,78,54,1,25],
                    'B':[5,6,7,8,13,12,45,14,27,8,96,58,45,47],
                    'C':['c1','c1','c3','c3','c3','c3','b1','v1','v1','d1','d2','d2','d2','d1'],
                    'D':[0,1,0,1,0,1,0,0,0,1,1,0,1,0]})

## Lenght

In [2]:
len(data)

14

## Shape

In [3]:
data.shape

(14, 4)

## Min

In [4]:
data.min()

A     1
B     5
C    b1
D     0
dtype: object

## Max

In [5]:
data.max()

A    85
B    96
C    v1
D     1
dtype: object

## Data Types

In [6]:
data.dtypes

A     int64
B     int64
C    object
D     int64
dtype: object

## Mean

In [7]:
data.mean()

/tmp/ipykernel_4866/531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

A    29.642857
B    27.928571
D     0.428571
dtype: float64

## Standard Deviation

In [8]:
data.std()

/tmp/ipykernel_4866/2723740006.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.std()

A    29.119402
B    26.882835
D     0.513553
dtype: float64

## Columns Name

In [9]:
data.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

## Describe

In [10]:
data.describe()

               A          B          D
count  14.000000  14.000000  14.000000
mean   29.642857  27.928571   0.428571
std    29.119402  26.882835   0.513553
min     1.000000   5.000000   0.000000
25%     3.250000   8.000000   0.000000
50%    20.000000  13.500000   0.000000
75%    45.000000  45.000000   1.000000
max    85.000000  96.000000   1.000000

## Data Copy

In [11]:
data_1 = data.copy()
data_1

     A   B   C  D
0    1   5  c1  0
1    2   6  c1  1
2    3   7  c3  0
3    4   8  c3  1
4   12  13  c3  0
5   15  12  c3  1
6   45  45  b1  0
7   85  14  v1  0
8   45  27  v1  0
9   45   8  d1  1
10  78  96  d2  1
11  54  58  d2  0
12   1  45  d2  1
13  25  47  d1  0

## Value

In [12]:
# محتوا را بصورت ارایه دو بعدی میدهد
data.values

array([[1, 5, 'c1', 0],
       [2, 6, 'c1', 1],
       [3, 7, 'c3', 0],
       [4, 8, 'c3', 1],
       [12, 13, 'c3', 0],
       [15, 12, 'c3', 1],
       [45, 45, 'b1', 0],
       [85, 14, 'v1', 0],
       [45, 27, 'v1', 0],
       [45, 8, 'd1', 1],
       [78, 96, 'd2', 1],
       [54, 58, 'd2', 0],
       [1, 45, 'd2', 1],
       [25, 47, 'd1', 0]], dtype=object)

## Value Count

In [15]:
# مشخص می کند از هر آرایه چه میزان داریم
data['C'].value_counts()

c3    4
d2    3
c1    2
v1    2
d1    2
b1    1
Name: C, dtype: int64