In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'legs': [2, 4, 8, 0,2,3,6],
                   'wings': [2, 0, 0, 0,1,0,5],
                   'specimen seen': [10, 2, 1, 8,5,8,9],
                   'age':[12,5,14,5,3,8,9]},
                  index=['falcon', 'dog', 'spider', 'fish','goril','human','snake'])

In [5]:
df

        legs  wings  specimen seen  age
falcon     2      2             10   12
dog        4      0              2    5
spider     8      0              1   14
fish       0      0              8    5
goril      2      1              5    3
human      3      0              8    8
snake      6      5              9    9

#### Loc
+ select by Index
#### iloc
+ select by position

## LOC

In [15]:
# Row
row1 = df.loc['falcon']
row1_to_row2 = df.loc['falcon':'dog']

# Row and Col
row1_to_row3_col1_to_col2 = df.loc['falcon':'spider','legs':'wings']
row1_and_row4_col1_and_col4 = df.loc[['falcon','spider'],['legs','age']]

In [16]:
row1_and_row4_col1_and_col4

        legs  age
falcon     2   12
spider     8   14

In [20]:
for idx in df.index:
    print(idx,'-->',df.loc[idx]['age'])

falcon --> 12
dog --> 5
spider --> 14
fish --> 5
goril --> 3
human --> 8
snake --> 9

In [21]:
for idx in df.index:
    print(idx,'-->',df.loc[idx , 'age'])

falcon --> 12
dog --> 5
spider --> 14
fish --> 5
goril --> 3
human --> 8
snake --> 9

# ILOC

In [3]:
df

        legs  wings  specimen seen  age
falcon     2      2             10   12
dog        4      0              2    5
spider     8      0              1   14
fish       0      0              8    5
goril      2      1              5    3
human      3      0              8    8
snake      6      5              9    9

In [17]:
# Row
row1 = df.iloc[1]
row1_to_row2 = df.iloc[0:2]

# Row and Col
row1_to_row3_col1_to_col2 = df.iloc[0:3,0:2]
row1_and_row4_col1_and_col4 = df.iloc[[0,3],[0,3]]

In [18]:
row1_and_row4_col1_and_col4

        legs  age
falcon     2   12
fish       0    5