In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'A':[1,2,3,4,12,15,45,85,45,45,78,54,1,25],
                    'B':[5,6,7,8,13,12,45,14,27,8,96,58,45,47],
                    'C':['c1','c1','c3','c3','c3','c3','b1','v1','v1','d1','d2','d2','d2','d1'],
                    'D':[0,1,0,1,0,1,0,0,0,1,1,0,1,0]})

In [2]:
df1

     A   B   C  D
0    1   5  c1  0
1    2   6  c1  1
2    3   7  c3  0
3    4   8  c3  1
4   12  13  c3  0
5   15  12  c3  1
6   45  45  b1  0
7   85  14  v1  0
8   45  27  v1  0
9   45   8  d1  1
10  78  96  d2  1
11  54  58  d2  0
12   1  45  d2  1
13  25  47  d1  0

## Group by

In [4]:
a=df1.groupby('C')
print(a)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f5f38793130>

In [27]:
df1.groupby('C').agg({'A':np.mean,'B':np.max})

            A   B
C
b1  45.000000  45
c1   1.500000   6
c3   8.500000  13
d1  35.000000  47
d2  44.333333  96
v1  65.000000  27

In [28]:
df1.groupby(['C','D']).agg({'A':np.mean,'B':np.max})

         A   B
C  D
b1 0  45.0  45
c1 0   1.0   5
   1   2.0   6
c3 0   7.5  13
   1   9.5  12
d1 0  25.0  47
   1  45.0   8
d2 0  54.0  58
   1  39.5  96
v1 0  65.0  27

## Agg

In [29]:
df1.agg({'A':np.mean,'B':np.max})

A    29.642857
B    96.000000
dtype: float64

In [30]:
df1['A'].mean()

29.642857142857142

In [31]:
df1['B'].max()

96